<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
    Data Binding
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="/interpolation">Interpolation</a></li>
    <li><a class="dropdown-item" routerLink="/property-binding">Property Binding</a></li>
    <li><a class="dropdown-item" routerLink="/two-way-binding">Two-Way Binding</a></li>
    <li><a class="dropdown-item" routerLink="/event-binding">Event Binding</a></li>
  </ul>
</li>